.contenedor {
  width: 12em;
  height: 16em;
  backdrop-filter: blur(1px);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 2px 4px 8px rgba(96, 97, 84, 0.2);
  margin-right: 1em;
  margin-bottom: 2em;
}
.contenedor:hover {
  background-color: rgba(50, 73, 115, 0.5);
}

.contenedor h4 {
  font-size: 20px;
  color: rgb(181, 206, 230);
  margin: 6px 0 0 0;
  margin-bottom: 10px;
}
.contenedor h5 {
  font-size: 15px;
  color: rgb(181, 206, 230);
  margin: 0;
  margin-bottom: 1px;
}

.contenedor img {
  width: 9em;
  height: 5em;
  margin: 1px;
  border-radius: 10px;
 }

.inferior {
  display: flex;
  flex-direction: column;
}
