.nav {
  background-color: rgb(255, 255, 255, 0.1);
  height: 2.5em;
  padding: 0.5em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button {
  padding: 6px 12px;
  font-size: 16px;
  background-color: rgba(165, 176, 199, 0.6);
  color: rgb(32, 48, 84);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-family: "Roboto Serif", serif;
  font-weight: 700;
  width: min-content;
  margin-left: 3em;
}

.button:hover {
  background-color: rgba(132, 154, 196, 0.7);
}

.create {
  position: absolute;
  top: 0.8em;
  right: 2em;
  width: fit-content;
}
